html {
    color-scheme: dark;

    --color-text-main: #ffffff;
    --color-text-secondary: #878787;

    --color-bg-body: #171717;
    --color-bg-secondary: #252525;
    --color-bg-tertiary: #1C1C1C;
    --color-bg-btn-neutral: #3B3B3B;

    --color-palette-negative: #EE4848;
    --color-palette-positive: #51D33F;
}